<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
      <setting name="SXI.Foundation.Validation.CustomContentEditorJavascript" value="/sitecore/SXI/Foundation/Validation/assets/js/customContentEditor.js"/>
      <setting name="SXI.Foundation.Validation.CustomContentEditorStylesheets" value="/sitecore/SXI/Foundation/Validation/assets/css/customContentEditor.css"/>
		</settings>
    <pipelines>
      <renderContentEditor>
        <processor patch:before="*[1]" type="SXI.Foundation.Validation.Pipelines.InjectScripts, SXI.Foundation.Validation" />
      </renderContentEditor>
    </pipelines>
	</sitecore>
</configuration>
